@import "tailwindcss";

:root {
  --primary-color: #6C9B88;
  --secondary-color: #ADA9A0;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.primary-color {
  color: var(--primary-color);
}

.secondary-color {
  color: white
}

.bg-secondary-color {
  background-color: var(--secondary-color);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #1c1a1a;
}

.icon {
  transition: transform 0.02s ease-in-out;
  will-change: transform;
  user-select: none;
}


/* ─── GLASS BACKGROUND FOR THE DOCK ─── */
.dock-wrapper {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);

  padding: 20px 40px;
  border-radius: 20px;

  background: rgba(255, 255, 255, 0.12); /* subtle milk tint */
  backdrop-filter: saturate(180%) blur(30px);
  -webkit-backdrop-filter: saturate(180%) blur(30px);

  border: 1px solid rgba(255, 255, 255, 0.25);

  box-shadow:
    inset 0 0 0 0.6px rgba(255, 255, 255, 0.5), /* top sheen */
    0 20px 40px rgba(0, 0, 0, 0.25);           /* floating shadow */

  display: flex;
  align-items: center;
}

/* ─── ICONS ─── */
